/* Define CSS variable */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --accent3-color: #ffffff;
    --heading-font: "Times New Roman", "George", serif;
    --body-font: arial, Helvetica, sans-serif;
}

.border {
    border: solid 1px gray;
}

/* Reset the CSS box-model properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Limit page width for header, main, footer */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 175px;
    height: auto;
    grid-column: 1/2;
}

nav {
    grid-column: 2/5;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    flex: 1 1 auto;
    list-style: none;
}

nav a {
    display: block;
    color: var(--primary-color);
    padding: 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: #eee2c4;
}

nav a:hover {
    background-color: var(--secondary-color);
    text-decoration: underline;
}


.map-form-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    gap: 5px;
}

h1 {
    font-family: var(--heading-font);
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 1;
    color: #100f0f;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p{
    padding: 0;
    margin: 0;
}

.map-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.map {
    grid-area: 1/1/2/2;
    text-align: right;
    position:relative;
    text-align:right;
    width:100%; 
    height:100%;
    margin-right: 5px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    overflow:hidden;
    background:none;
    width:100%;
    height:100%;
}

.gmap_canvas iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border:0;
}

.mapouter a {
    display: block;
    font-size: 0.85em;
    text-align: center;
    padding: 5px 0;
    color: #6c757d;
    text-decoration: none;
}

.gme-generated-link {
    display: none;
}

.contact-form {
    grid-area: 1/2/2/3;
    text-align: center;
    margin-left: 5px;
}

.contact-form * {
    padding: 5px;
}

.contact-form form {
    display: block;
}

.name, .email, .message-wrap {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    align-items: center;
}

.message-radio {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.textarea * {
    display: block;
}

.textarea label {
    text-align: left;
}
.textarea textarea {
    width: 100%;
}

.subscribe {
    text-align: left;
}

button {
    display: block;
    width: 100%;
    height: 45px;
}

h2 {
    font-family: var(--heading-font);
    text-align: center;
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
  

section {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    padding: 5px;
}

section h2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.adventure-container {
    display: block;
    padding-bottom: 30px;
}

.adventure-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

figure img{
    width: auto;
    height: 150px;
}

figure {
    text-align: center;
    width: 175px;
    padding: 10px;
    box-shadow: 0 0 10px gray; 
}

figcaption {
    padding: 10px;
}

footer {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socialmedia {
    display: flex;
    list-style: none;
    width: 200px;
    float: right;
}

footer p {
   text-align: center;
   position: relative;
}
/* remove link's underline */
.socialmedia a {
    text-decoration: none;
    flex: 1 1 auto;
    list-style: none;
}

footer img {
    width: 25px;
}

