/* Define CSS variable */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --accent3-color: #ffffff;
    --heading-font: "Times New Roman", "George", serif;
    --body-font: arial, Helvetica, sans-serif;
}

/* Reset the CSS box-model properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Limit page width for header, main, footer */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: auto;
    height: auto;
    grid-column: 1/2;
}

nav {
    grid-column: 2/6;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    flex: 1 1 auto;
    list-style: none;
}

nav a {
    display: block;
    color: rgb(3, 5, 37);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    border-right: 2px white solid;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    background-color: #f4a261;
    width: 150px;
}

nav a:hover {
    background-color: tomato;
    text-decoration: underline;
}



h1 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
    text-align: center;
    background-color: var(--accent1-color);
}

h2 {
    font-family: var(--heading-font);
    text-align: center;
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  
h1 {
    position: absolute;
    top: 120px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 1;
    background-color: var(--accent1-color);
    color: #fcfcfc;
}

.hero article {
    position: absolute;
    top: 170px;
    width: 95%;
    opacity: 1;
    background-color: var(--accent2-color);
}

.hero p {
    margin: 0;
}

.hero article img {
    float: right;
    width: 125px;
}

section {
    margin: 20px 0 auto;
    padding: 0;
    border: solid 1px gray;
    padding: 5px;
}

section h2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr;
}

.histo-paragraph-one {
    grid-area: 1/1/2/2;
}
.histo-paragraph-two {
    grid-area: 1/3/2/4;
}
.history-image {
    grid-area: 1/2/2/3;
    width: 200px;
    margin: 20px 5px;
    border: 1px solid rgba(0 0 0 / .3);
    box-shadow: 0 0 30px #777;
}

.adventure-container {
    display: block;
    padding-bottom: 30px;
}

.adventure-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

figure img{
    width: 150px;
    height: auto;
}

footer {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socialmedia {
    display: flex;
    list-style: none;
    width: 200px;
    float: right;
}

footer p {
   text-align: center;
   position: relative;
}
/* remove link's underline */
.socialmedia a {
    text-decoration: none;
    flex: 1 1 auto;
    list-style: none;
}

footer img {
    width: 25px;
}

