/* Define CSS variable */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --accent3-color: #ffffff;
    --heading-font: "Times New Roman", "George", serif;
    --body-font: arial, Helvetica, sans-serif;
}

/* Reset the CSS box-model properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Limit page width for header, main, footer */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
    text-align: center;
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/* remove link's underline */
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 360px;
    width: 95%;
    opacity: 1;
    background-color: var(--accent2-color);
}

.hero p {
    margin: 0;
}
.hero article img {
    float: right;
    width: 125px;
}

section {
    margin: 20px 0 auto;
    padding: 0;
}
section h2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

footer {
    margin: 15px auto;
    text-align: center;
}
footer img {
    width: 25px;
}