:root {
    --border-one: 1px solid rgb(0 0 0 /.2);
    --background-one: rgb(68, 114, 189);
    --heading-one: rgb(68, 114, 189);
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav { 
    background-color: var(--background-one); 
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a { 
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid {
  display: grid;
  align-items: start;
}
    
main {
  grid-column: 2;
  margin: 1rem;
}
    
aside {
  grid-column: 1;
  width: 20rem;
  position: relative;
  grid-row: 1;
}


h1 { 
   color: var(--heading-one);
   border-bottom: 2px solid blue;
   padding: 0 0 20px 0;
}


main img {
    float: right;
    margin: 1rem 0 1rem 1rem;
    width: 150px; 
    height: auto; 
    border: var(border-one);
    padding: 2px; 
    box-shadow: 0 0 30px gray; 
}

p { 
    padding: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(border-one);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
