:root {
    --border-one: 1px solid rgb(0 0 0 /.2);
    --background-one: rgb(68, 114, 189);
    --heading-one: rgb(68, 114, 189);
}

nav { 
    background-color: var(--background-one); 
    padding: 10px;
}

nav a { 
    color: white; 
    display: inline; 
    padding: 20px;
    list-style: none;
    text-decoration: none;
}

h1 { 
   color: var(heading-one)
}

main img {
    width: 150px; 
    height: auto; 
    border: var(border-one);
    padding: 2px; 
    box-shadow: 0 0 30px gray; 
}

p { 
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(border-one);
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
